*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
body {
  direction: rtl;
  margin: 0;
  font-family: 'Heebo', sans-serif;
  /* font-family: 'Secular One', sans-serif; */
}

code, kbd, pre, samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: rtl !important;
  unicode-bidi: bidi-override;
}
