.spinner-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    place-items: center;
  }
  .spin-anima{
    animation: spinner .3s linear infinite;
  }
  .spinner{
    width: 50px;
    height: 50px;
    border: 0;
    border-top: .2vw solid transparent;
    border-bottom: .2vw solid transparent;
    border-left: .2vw dashed black;
    border-right: .2vw solid white;
    border-radius: 50%;
  }
  @keyframes spinner {
    100%{
      transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100%{
      transform: rotate(360deg);
    }
  }