.container-fluid{
    margin-left: 0;
    margin-right: 0;
    z-index: 1;
    background-color: black;
}
.particles-bg{
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
}
.page{
    height: auto;
    width:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    font-family: 'Heebo', sans-serif;
    background: black url("https://i.pinimg.com/originals/1d/73/5a/1d735ad8eee8350adc96d50e1421ee6d.gif") no-repeat center center/cover;
    color: white;
}
.bg-gif{
    background: black url("https://i.pinimg.com/originals/1d/73/5a/1d735ad8eee8350adc96d50e1421ee6d.gif") no-repeat center center/cover;
    color: white;
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: 100%;
    animation: gradient .5s ease-in-out;
    scroll-behavior: smooth;
    z-index: 1;
    overflow: auto;
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}
.bg-gif::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.hero{
    position: relative;
    z-index: 3;
}
.wellcome-msg{
    font-family: 'Karantina', cursive;
    font-size: calc(10.5vw + 1rem);
    background: -webkit-linear-gradient(35deg,rgba(164, 221, 32, 0.9),rgba(157, 170, 189, 0.9),rgba(3, 77, 77, 1));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    padding: 1rem 6rem;
    border: 0;
    z-index: 3;
    height: auto;
    border-radius: 1vw 1vw 0 0;
}
h1.wellcome-msg::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    border-radius: 1vw;
    z-index: -1;
}
.cover-txt{
    background: transparent;
    font-weight: lighter;
    font-family: 'Karantina', cursive;
    font-size: 3rem;
    background: -webkit-linear-gradient(35deg,rgba(164, 221, 32, 0.803),rgba(157, 170, 189, 0.856),rgba(3, 77, 77, 0.644));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1.5px;
    position: relative;
}
.speakly-txt{
    position: absolute;
    left: 0;
    top: 0;
    font-size: clamp(calc(1.5rem + .5vw),2rem,30px);
    padding: .1rem 2rem;
    margin: 1vw 0;
    background: -webkit-linear-gradient(35deg,rgba(164, 221, 32, 0.803),rgba(157, 170, 189, 0.856),rgba(3, 77, 77, 0.644));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    box-shadow: none;
}

.homepage-btns{
    position: relative;
    margin-top: 4rem;
}
.homepage-btns button{
    color: white;
    font-size: 1.2rem;
    margin: 0 1rem;
    font-family: 'Heebo', sans-serif;
}
@keyframes gradient {
    0%{
        top:100%;
        opacity: 0;
        transform: scale(0) translate(100%,100%);
    }
    100%{
        opacity: 1 ;
        background-color: transparent;
        top:0%;
        transform:  scale(1) translate(0%,0%);
    }
}