.page{
    position: absolute;
    overflow: hidden;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: calc(100% - 64px);
}
.page-enter {
    opacity: 0;
    transform: scale(0);
    transition: .3s linear;
}
.page-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: .3s linear ;
}
.page-exit {
    transition: .3s linear ;
    opacity: 1;
    transform: scale(1);
}
.page-exit-active {
    transform: scale(0);
    opacity: 0;
    transition: .3s linear ;
}